:host {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.search-box {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-box {
  display: flex;
}
