:host {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #E5E5E5;
}

.search-box {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin: 0 20px;
  }

  &__button {
    background: #2F80ED;
    border-radius: 5px;
    color: #E5E5E5;
    font-family: Roboto;
    text-align: center;
    height: 30px;
  }

  &__input {
    background: #EFEFEF;
    border: none;
    width: 350px;
  }
}
