.sorting-box {

  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  height: 5vh;

  input {
    width: 350px;
    height: 20px;
    background: #EFEFEF;
    border: none;
  }

  button {
    height: 20px;
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
    margin: 0 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
