:host {
  width: 80%;
  display: grid;
  grid-template-columns: 5% 65% 30%;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.video{
  &-backbutton {
    border: 1px solid transparent;
    background-color: #E5E5E5;
    font-size: 72px;
    height: 100%;
  }
  &-preview {
    height: 100%;
    &__icon {
      border: 1px solid transparent;
    }
  }
}



.video-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto; 

  &-main {
    display: flex;
    flex-flow: row wrap;
    padding: 5%;
    &__h3 {
      width: 70%;
      font-size: 20px;
      font-weight: bold;
    }
    &__h5 {
      width: 30%;
      font-size: 10px;
    }
    &__p {
      font-size: 10px;
    }
  }
  &-statistics {
    display: flex;
    justify-content: space-around;
    font-size: smaller;
    &__iconwrapper {
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
