<mat-toolbar>
  <div class="image-wrapper">
    <img src="../../../assets/images/logo.png" alt="youtube_logo" class="logo">
  </div>
  <section class="search-box">
    <form action="" (submit)="onFormSubmit($event)">
      <mat-form-field appearance="outline" [style.fontSize.px]=14>
        <mat-label>search a video</mat-label>
        <input matInput type="text" name="input" value="Type here" class="search-box__input" [(ngModel)]="query"
          (ngModelChange)="updateQuery(query)">
      </mat-form-field>
    </form>
    <button (click)="toggleSortingBoxView()" type="button" class="search-box__button">
      <span class="material-icons">settings</span>
    </button>
  </section>
  <app-login-box></app-login-box>
  <app-sorting-box *ngIf="isSortingBoxOpen">
  </app-sorting-box>
</mat-toolbar>

