<section class="search-box">
  <img src="../../../assets/images/logo.png" alt="youtube_logo">
  <form action="" (submit)="onFormSubmit($event)">
    <input type="text" name="input" value="Type here" class="search-box__input">
    <button type="submit" class="search-box__button">Search</button>
  </form>
  <button (click)="toggleSortingBoxView()" type="button" class="search-box__button">
    <img src="../../../assets/images/settings.png" alt="settings">
  </button>
</section>
<app-login-box></app-login-box>
<app-sorting-box *ngIf="isSortingBoxOpen">
</app-sorting-box>
