:host {
  width: 100%;
  background-color: #E5E5E5;
}

.mat-toolbar {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.mat-toolbar-single-row {
  height: 70px;
}

.mat-form-field {
  @media (min-width: 800px) {
    min-width: 300px;
  }
}

.image-wrapper {
  display: flex;
    justify-content: center;
}

.logo {
  height: 60px;
  width: 100px;

}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin: 0 20px;
    height: 60px;
  }

  &__button {
    background: transparent;
    border: none;
    height: 30px;
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}
