:host {
  width: 100%;
  background-color: #E5E5E5;
}

.mat-toolbar {
  display: grid;
  grid-template-columns: 80% 20%;
}

.search-box {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin: 0 20px;
  }

  &__button {
    background: transparent;
    color: rgb(105, 105, 105);
    border: none;
    height: 30px;
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}
