<mat-toolbar>

    <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
    <section class="search-box">
      <img src="../../../assets/images/logo.png" alt="youtube_logo">
      <form action="" (submit)="onFormSubmit($event)">
        <mat-form-field appearance="fill" >
          <mat-label>search a video</mat-label>
          <input matInput type="text" name="input" value="Type here" class="search-box__input" [(ngModel)]="query"
            (ngModelChange)="updateQuery(query)">
        </mat-form-field>
      </form>
      <button (click)="toggleSortingBoxView()" type="button" class="search-box__button">
        <!-- <img src="../../../assets/images/settings.png" alt="settings"> -->
        <span class="material-icons">settings</span>
      </button>
    </section>
    <app-login-box></app-login-box>
    <app-sorting-box *ngIf="isSortingBoxOpen">
    </app-sorting-box>

</mat-toolbar>

