<form class="form" action="" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <label class="form-label" for="login">login</label>
  <input class="form-input" id="login" type="text" formControlName="name">
  <div class="form-alert" *ngIf="authForm.controls['name'].invalid && authForm.controls['name'].touched">
    provide not less than 4 symbols
  </div>
  <label class="form-label" for="password">password</label>
  <input class="form-input" id="password" type="password" formControlName="password">
  <div class="form-alert" *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">
    provide not less than 4 symbols
  </div>
  <button class="form-button" type="submit" [disabled]="!authForm.valid"> {{ authType ? 'signup' : 'login'}} </button>
  <div *ngIf="showError" class="form-alert"> <br> {{ authType ? 'sorry, such user already exists' : 'please enter valid credentials'}} </div>
</form>
