:host {
  margin: 10% auto;
  padding: 3% 0;
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #F2F2F2;

  @media (min-width: 420px) and (max-width: 850px) {
    width: 50%;
  }

  @media (max-width: 420px) {
    width: 100%;
    margin: 0;
  }

  h3 {
    margin:0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
  }

  a {
    color: rgb(105, 105, 105);
  }

}
