<article class="item" [appBorderColorDirective]="item.snippet.publishedAt | dateToColor">
  <div class="item-image">
    <img [src]="item.snippet.thumbnails.high.url" class="item-image__img" alt="card">
  </div>
  <section class="item-statistics">
    <div class="item-statistics__iconwrapper">
      <span class="material-icons">favorite</span>
      <span class="item-statistics__text"> {{ item.statistics.viewCount | countTrim }} </span>
    </div>
    <div class="item-statistics__iconwrapper">
      <span class="material-icons">thumb_up</span>
      <span class="item-statistics__text"> {{ item.statistics.likeCount | countTrim }} </span>
    </div>
    <div class="item-statistics__iconwrapper">
      <span class="material-icons">thumb_down</span>
      <span class="item-statistics__text"> {{ item.statistics.dislikeCount | countTrim }} </span>
    </div>
    <div class="item-statistics__iconwrapper">
      <span class="material-icons">comment</span>
      <span class="item-statistics__text"> {{ item.statistics.commentCount | countTrim }} </span>
    </div>
  </section>
  <h3 class="item-title"> {{ item.snippet.title | textTrim : 50 }} </h3>
  <button class="item-button" type="button" (click)="openDetailsPage(item.id)">
    <span class="material-icons" title="expand more ...">expand_more</span>
  </button>
</article>
