<article class="item" [appBorderColorDirective]="item.snippet.publishedAt | dateToColor">
  <div class="item-image"><img [src]="item.snippet.thumbnails.default.url" alt="card"></div>
  <section class="item-statistics">
    <div> <img src="../../../../assets/images/viewed.jpg" alt="viewCount"> {{ item.statistics.viewCount }} </div>
    <div> <img src="../../../../assets/images/liked.jpg" alt="likesCount"> {{ item.statistics.likeCount }} </div>
    <div> <img src="../../../../assets/images/dislike.jpg" alt="dislikesCount"> {{ item.statistics.dislikeCount }}
    </div>
    <div> <img src="../../../../assets/images/comment.jpg" alt="commentCount"> {{ item.statistics.commentCount }} </div>
  </section>
  <h3 class="item-title"> {{ item.snippet.title }} </h3>
  <button class="item-button" type="button">More...</button>
</article>
