:host {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    background: transparent;
    color: rgb(105, 105, 105);
    border: none;
    height: 30px;
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}
